.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
cli/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.npm/**
**/.nyc_output/**
**/coverage/**
**/.DS_Store
**/.git/**
**/.github/**
test/**
tests/**
.editorconfig
.eslintrc*
.travis.yml
.circleci/**
azure-pipelines.yml
**/*.log
**/*.vsixscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
